*/saved_models/*
*/tuning_logs/*
*/wandb/*
*/notebooks/lightning_logs/*
.ipynb_checkpoints/*
__pycache__/*
*/.ipynb_checkpoints/*
*/__pycache__/*
*/*/.ipynb_checkpoints/*
*/*/__pycache__/*
dataset/train*
dataset/test*
dataset/*.csv
